<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Adicionar ou Alterar Noticia</title>
</head>
<body>
	<form th:action="@{/noticia/add}" method="post" th:object="${noticia}">
<!-- hidden oculta id na tela, e serve para não perder a referencia do id na hora de editar-->
		<input type="hidden" th:field="*{id}"/> <br/>
		<input type="text" th:field="*{titulo}" placeholder="Titulo"/> <br/>
		<input type="text" th:field="*{subtitulo}" placeholder="Subtitulo"/> <br/>
		<textarea rows="20" cols="20" th:field="*{conteudo}" placeholder="Conteudo"></textarea> <br/>
		<input type="submit" value="enviar"/>
	</form>
</body>
</html>