<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Jornal o Gordo</title>

  <!-- CSS  -->
  <link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>
  <link th:href="@{/webjars/materialize/0.97.6/bin/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>

  <nav class=" light-blue darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" th:href="@{/}" class="brand-logo center">Jornal o Gordo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="modal-trigger" href="#modal1">Login</a></li>
        <li><a href="#">Cadastre-se</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- NAVBAR DA NAVEGACAO-->
  <nav class="indigo darken-1">
    <div class="nav-wrapper">
      <div class="col s12 center">
        <a class="breadcrumb center" th:text="${secao.titulo}"></a>
      </div>
    </div>
  </nav>
  <!-- Modal Trigger -->

  <!-- Modal do Login -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5 class="center">Login</h5>
      <div class="row">
        <div class="col s12 m12">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate"/>
                <label for="email" data-error="Digite um email válido ex: aluno@site.com" data-success="right">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate"/>
                <label for="password">Senha</label>
              </div>
            </div>

            <div class="row">
              <button class="btn waves-effect waves-light center" type="submit" name="action">Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>



  <div class="container">
    <div class="section">
      <!--   Icon Section   -->

      <!-- Notícia-->
      <div class="row" th:if="${not #lists.isEmpty(listanoticia)}">
        <div class="col">
        </div>
        <div class="col s4 m8" th:each="noticia : ${listanoticia}">
          <div class="card-panel">
            <a th:href="@{'/noticia/' + ${noticia.id}}"> <h5 th:text="${noticia.titulo}"></h5> </a>
            <p th:text="${noticia.data}"></p>
            <p th:text="${noticia.subtitulo}"></p>
          </div>
        </div>
      </div>
      <!-- -->
    </div>
  </div>
      <footer class="page-footer indigo darken-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Entre em contato conosco</h5>
              <ul>
                <li><a class="white-text" href="https://www.facebook.com/jacques.nier">Facebook</a></li>
                <li><a class="white-text" href="#!">jacquesnier@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Desenvolvido por <a class="orange-text text-lighten-3" href="http://github.com/jacquesnier">Jacques Nier</a>
          </div>
        </div>
      </footer>


      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
      <script>

      $(document).ready(function(){
        $('.modal-trigger').leanModal();
      });

      </script>
    </body>
    </html>
